# Ignora o controle de versão e metadados locais
.git
.gitignore

# Ignora arquivos de log e temporários
*.log
log/
tmp/

# Ignora testes e arquivos de dev
spec/
test/
.rspec
.rubocop.yml

# Ignora cache do bundler (não precisa ir para imagem)
.bundle
vendor/

# Ignora arquivos diversos
*.md
*.swp
*.bak
*.env
