<nav>
  <ul>
    <li><a href="/" class="<%= 'active' if request.path_info == '/' %>">Início</a></li>
    <li><a href="/about" class="<%= 'active' if request.path_info == '/about' %>">Sobre</a></li>
    <li><a href="/projects" class="<%= 'active' if request.path_info == '/projects' %>">Projetos</a></li>
  </ul>
</nav>
