* {
    border: 1px dashed rgba(214, 22, 16, 0.548);
}

body,
html {
    line-height: 1.6;
    color: #111;
    background-color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;

}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    color: rgb(103, 13, 13);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #888;
    grid-area: header;
    justify-content: space-between;

}

.layout {
    margin: 0 auto;
    padding: 2rem;
  max-width: 1200px;

}


.nav {
    display: flex;
    align-items: center;
    

}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
    list-style: none;
}

.nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

.content {
    padding: 2rem;
    grid-area: content;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    overflow-y: auto;
}

.footer {
    text-align: center;
    color: #888;
    grid-area: footer;
    margin-top: 2rem;
}